# Server Port
PORT=3000

# Custom path for your database
# Example: /home/ibrahin/bot
DB_DIR=./db

# Custom path for your JSON files. 
# If you leave this blank but set DB_DIR, it will automatically look in DB_DIR/Data
# JSON_DIR=/home/ibrahin/bot/Data
