# Server Port
PORT=3000

# Custom path for your database
# Example: /home/ibrahin/bot
DB_DIR=./db

# Custom path for your JSON files. 
# If you leave this blank but set DB_DIR, it will automatically look in DB_DIR/Data
# JSON_DIR=/home/ibrahin/bot/Data

# Economy Settings
RENT_YIELD_PER_MINUTE=1
SALARY_COOLDOWN_HOURS=0.001
WHEEL_COOLDOWN_HOURS=0.001
COIN_FLIP_COOLDOWN_HOURS=0
MAX_ENERGY=20
ENERGY_REGEN_PER_HOUR=2.0
